// color ###########################

// main
$main: #323264;
$mainAlt: #46466E;
$mainSoft: #686887;

// Accent
$accentRed: #F0145A;
$acentActive: #24A3FF;
$accentActiveHover: #0085FF;
$accentActiveActive: #006CCF;

// Grey
$greyBg: #F5F5FA;
$greyBgAlt: #EDEDF7;
$greyText: #B3B3BA;
$greySeparator: #E6E6F0;

// font
$fontSize: 18px;